*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*BREAK POINTS*/
/* Color Theme Swatches in Hex */
/*FONT*/
.header {
  min-width: 100vw;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 1em;
  padding-right: 2em;
  background-color: #222;
}

.header-nav {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-nav .internos {
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  position: relative;
  display: inline-block;
  padding: 1rem 0.5rem;
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #fff;
}

.header-nav .internos::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 100%;
  display: inline-block;
  height: 0.1rem;
  background: #d14136;
  -webkit-transition: all 0.25s cubic-bezier(1, 0.1, 0.16, 0.9);
  transition: all 0.25s cubic-bezier(1, 0.1, 0.16, 0.9);
}

.header-nav .internos:hover {
  color: #fff;
}

.header-nav .internos:hover::after {
  right: 0;
  height: 1px;
  background: #d14136;
}

.main .contenedor {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .contenedor .contenido {
  font-family: "Lato", sans-serif;
  color: #d14136;
  max-width: 960px;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 8px 8px 22px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 8px 8px 22px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  position: relative;
  overflow-x: hidden;
  padding: 1em;
}

.main .contenedor .contenido .titulo-item {
  border-bottom: solid 2px #d14136;
  padding: 0.5em;
  font-size: 2em;
}

.main .contenedor .contenido .titulo-item .posicion {
  background-color: #d14136;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  margin-right: 0.5em;
}

.main .contenedor .contenido .main-image {
  margin: 1em;
  float: left;
  height: 250px;
  width: 250px;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

.main .contenedor .contenido .texto {
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  padding: 1em 1em 0em 1em;
}

.main .contenedor .contenido .texto .direccion {
  font-weight: bold;
  color: #cf556c;
  font-size: 1em;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  margin-top: 0.5em;
}

.main .contenedor .contenido .footer-redes {
  margin: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .contenedor .contenido .footer-redes .insta {
  font-size: 2rem;
  color: #d14136;
}

.main .contenedor .contenido .footer-redes .insta .fa-instagram:hover {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html body .map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 60vw;
  height: 30vh;
}

html body #hells {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 60vw;
  height: 30vh;
}

html body #rincon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 60vw;
  height: 30vh;
}

html body #rocky {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 60vw;
  height: 30vh;
}
/*# sourceMappingURL=rest.css.map */