@import 'var';
*,
*:after,
*:before {
    box-sizing: border-box;
}




html {
    scroll-behavior: smooth;
    overflow-x: hidden;

    @media (max-width: $mobile-breakpoint) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }

    @media (max-width: $mobile-breakpoint) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }

    body {
        font-family: $main-font;

        .header {
            min-width: 100vw;
            min-height: 40px;
            display: flex;
            justify-content: flex-end;
            padding-top: 1em;
            padding-right: 2em;
            background-color: $color-negro;
        
            &-nav {
                margin-bottom: 10px;
                display: flex;
                justify-content: flex-end;
        
                .internos {
                    font-family: $main-font;
                    font-size: 1.4rem;
                    position: relative;
                    display: inline-block;
                    padding: 1rem 0.5rem;
                    text-decoration: none;
                    color: inherit;
                    transition: all 0.2s;
                    color: $color-casiBlanco;
        
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 100%;
                        display: inline-block;
                        height: 0.1rem;
                        background: $color-principal;
                        transition: all 0.25s cubic-bezier(1, 0.1, 0.16, 0.9);
                    }
        
                    &:hover {
                        color: $color-casiBlanco;
                    }
        
                    &:hover::after {
                        right: 0;
                        height: 1px;
                        background: $color-principal;
                    }
                }
            }
        }

        .main {

            &-page {
                background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.8), rgba(170, 170, 170, 0.11)), url(/assets/img/fristpizza.jpg);
                background-image: url(/assets/img/fristpizza.jpg);
                background-size: cover;
                background-position: center;
                color: $color-casiBlanco;
                min-height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .secondary-text {
                    font-family: $second-font;
                    font-size: 5rem;
                    margin-bottom: 10px;
                }

                .third-text {
                    font-family: $second-font;
                    font-size: 3rem;
                    margin-bottom: 10px;
                }

                .principal-text {
                    font-family: $main-font;
                    font-size: 8rem;
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                .paragraph {
                    font-family: $main-font;
                    font-size: 1.5rem;
                }
            }

            .cardsMain {
                min-width: 100vh;
                min-height: 100vh;
                background-color: $color-negro;
                padding-top: 50px;

                &-subtitle {
                    font-family: $second-font;
                    color: $color-casiBlanco;
                    font-size: 4rem;
                    margin-bottom: 50px;
                    text-align: center;
                }

                .container {
                    position: absolute;
                    height: 300px;
                    width: 600px;
                    left: calc(50% - 300px);
                    display: flex;

                    .card {
                        display: flex;
                        height: 350px;
                        width: 200px;
                        background-color: #17141d;
                        border-radius: 10px;
                        box-shadow: -1rem 0 3rem #000;
                        transition: 0.4s ease-out;
                        position: relative;
                        left: 0px;

                        &:not(:first-child) {
                            margin-left: -50px;
                        }

                        &:hover {
                            transform: translateY(-20px);
                            transition: 0.4s ease-out;

                            ~ {
                                .card {
                                    position: relative;
                                    left: 50px;
                                    transition: 0.4s ease-out;
                                }
                            }

                            .filledbar {
                                width: 120px;
                                transition: 0.4s ease-out;
                            }

                            .stroke {
                                stroke-dashoffset: 100;
                                transition: 0.6s ease-out;
                            }
                        }

                        &:nth-child(1) {
                            background-image: url(/assets/img/fristpizza.jpg);
                            background-size: cover;
                            background-position: center;
                        }

                        &:nth-child(2) {
                            background-image: url(/assets/img/secondpizza.jpg);
                            background-size: cover;
                            background-position: center;
                        }

                        &:nth-child(3) {
                            background-image: url(/assets/img/thirdPizza.jpg);
                            background-size: cover;
                            background-position: center;
                        }

                        &:nth-child(4) {
                            background-image: url(/assets/img/quarterpizza.jpg);
                            background-size: cover;
                            background-position: center;
                        }

                        .title {
                            color: $color-casiBlanco;
                            font-weight: 500;
                            position: absolute;
                            left: 20px;
                            top: 15px;
                            font-family: $main-font;
                            font-size: 1.4rem;
                        }

                        .bar {
                            position: absolute;
                            top: 100px;
                            left: 20px;
                            height: 5px;
                            width: 150px;



                        }

                        .circle {
                            position: absolute;

                            padding: 150px 45px 45px 45px;

                            img {
                                border-radius: 100%;
                            }
                        }
                    }
                }
            }
        }

        .footer {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color-negro;
            padding: 30px;

            &-its {
                color: $color-casiBlanco;
                font-size: 1.2rem;

                a {
                    text-decoration: none;
                    color: $color-casiBlanco;
                }
            }
        }
    }
}